testdir.py
__pycache__/
kb.csv
dataSmall.csv
dataBudaya.csv
backup_line.txt
templates/reset.html
templates/includes/_footer.html
TP4-DESTROYER.csv
*.zip
TP4_G_AD_1906398300_RadhiansyaZainAntriksaPutra.zip
.vscode/