<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../static/css/lib/bootstrap.css">
  <link rel="stylesheet" href="../../static/css/style.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
  <script src="../../static/js/lib/jquery-3.4.1.js"></script>
  <script src="../../static/js/lib/bootstrap.bundle.js"></script>
</head>
<body>
  <div class="bg-primary">
      <h1 class="display-6"><center>BudayaKB Lite v2.0</center></h1>
      <h3 class="lead"><center>Sistem Manajemen Knowledge Base Budaya Indonesia</center></h3>
      <br>
  </div>

  <nav class="navbar navbar-expand-sm bg-trt navbar-light shift">
    <a class="navbar-brand bold" href="/">BudayaKB Lite</a>
      <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/"><i class="material-icons">home</i>Home</a>
          </li>
          <li class="navbar-nav">
            <a class="nav-link" href="/imporBudaya"><i class="material-icons">import_export</i>Impor Budaya</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown"><i class="material-icons">edit</i>Sunting Budaya</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/tambahBudaya"><i class="material-icons">add</i>Tambah Budaya</a>
              <a class="dropdown-item" href="/ubahBudaya"><i class="material-icons">edit_attributes</i>Ubah Budaya</a>
              <a class="dropdown-item" href="/hapusBudaya"><i class="material-icons">delete</i>Hapus Budaya</a>
            </div>
          </li>
            <li class="navbar-nav">
              <a class="nav-link" href="/cariBudaya"><i class="material-icons">search</i>Cari Budaya</a>
            </li>
              <li class="navbar-nav">
                <a class="nav-link" href="/statsBudaya"><i class="material-icons">table_chart</i>Statistik Budaya</a>
              </li>
              <li class="navbar-nav">
                <a class="nav-link" href="https://github.com/RadhiansyaZ/TP3/blob/master/TP3_DDP1-G_AD_1906398300_RadhiansyaZainAntriksaPutra.py" target="_blank"><i class="material-icons">sync</i>v1.0</a>
              </li>
        </ul>
  </nav>
</body>
</html>