<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!------------------------using bootstrap css----------------------->
    <link rel="stylesheet" href="../../static/css/lib/bootstrap.css">
    <!-----------------------------main css----------------------------->
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-----------------------------favicon------------------------------>
    <link rel="shortcut icon" href="../../static/img/favicon.ico" type="image/x-icon">
    <!-----------------------Icon used in navbar------------------------>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <title>BudayaKB Lite</title>
</head>
<body>
    {%include 'includes/_navbar.html'%}
    {%block content%}{%endblock%}
<!-------load jQuery then Bootstrap bundle (Popper+Bootstrap)------->
<script src="../../static/js/lib/jquery-3.4.1.js"></script>
<script src="../../static/js/lib/bootstrap.bundle.js"></script>
</body>
</html>