{% extends 'includes/layout.html' %}

{% block content %}
<div class="container">
        <br>
        <h2>Hapus Budaya</h2>
        <p>Masukkan data budaya yang ingin dihapus</p><br>
        <form action="" method="POST">
            <div class="form-group row">
                <div class="col">
                    <p>Nama: </p>
                </div>
                <div class="col-6">
                    <input type="text" name="nama" id="" placeholder="Rendang" required>
                 </div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
            <div class="form-group row">
                    <div class="col"></div>
                    <div class="col-6">
                        <div class="col"></div>
                        <div class="col">
                            <input type="submit" value="Hapus Data">
                        </div>
                    </div>
                    <div class="col"></div>
            </div>   
        </form>
</div>
<div class="container-fluid">
    {% if command is defined and command==True %}
    <h4>Budaya {{name}} berhasil dihapus</h4>
    {% elif command==False %}
    <h4>Budaya {{name}} tidak ada atau anda salah mengetik nama budaya</h4>
    {%endif%}
</div>
<!-------load jQuery then Bootstrap bundle (Popper+Bootstrap)------->
<script src="../static/js/lib/jquery-3.4.1.js"></script>
<script src="../static/js/lib/bootstrap.bundle.js"></script>
{% endblock %}