{% extends 'includes/layout.html' %}

{% block content %}
<div class="container">
	<br>
	   <h2>Impor Budaya</h2>

	   <form method="POST" action="" enctype = "multipart/form-data">
		   <p>Pilih file CSV berisi data BudayaKB</p>
		   <input type="file" accept="text/csv" name=file required>
		   <input type=submit value="Import Data">
	   </form>
	   
   
	   {% if result is defined and result >0: %}
	   <h3>{{ result }} data budaya telah terimpor dari file "{{ fname }}"</h3>
	   {% elif error=='file_salah' %}
	   <br>
	   <h4>Ekstensi file salah! Pastikan filemu berekstensi .csv :)</h4>
	   {% endif %}
</div>
<!-------load jQuery then Bootstrap bundle (Popper+Bootstrap)------->
<script src="../static/js/lib/jquery-3.4.1.js"></script>
<script src="../static/js/lib/bootstrap.bundle.js"></script>
{% endblock %}